<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>In case you&apos;d like ffmpeg to capture your mic&gt;</string>
	<key>NSCameraUsageDescription</key>
	<string>In case you&apos;d like ffmpeg to capture your webcam?</string>
</dict>
</plist>
